#container{
    height: 400px;
    width: 800px;
    background-color: rgb(219, 219, 238);
    border: 5px solid black;
    border-radius:20px ;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: flex-end;
   /* Flex-start, Flex-end, center, baseline*/
  

}
#one{
  height: 100px;
  width: 400px;
  background-color: brown;
  border:5px solid black ;
}
#two{
  height: 100px;
  width: 200px;
  background-color: blueviolet;
  border:5px solid black ;
}
#three{
  height: 100px;
  width: 300px;
  background-color: yellow;
  border:5px solid black ;
}

